body {
  /* bg color van de body, test als je body ziet*/
  /*background: khaki;*/
  max-width: 42em;
  margin: 0 auto;
}

/* basic elementen stijlen met element selectors*/

/*
    Elements: Page
    ---
    Default markup for page level elements
*/

html {
  /* SHORTCUTS: fz16, lh1.5, ff en c */
  font-size: 16px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #111;
  /* 24px 24px 0 px;*/
  padding: 24px 24px 0;
  /* om tekst meer te centreren*/
  /* font smoothing, om dikke tekst te vermijden */
  -webkit-font-smoothing: antialiased;
  -moz-os-font-smoothing: grayscale;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  /* achtergrond en teskt-kleur van geselecteerde teskt aanpassen*/
  background: #E85E00;
  /*bg*/
  color: white;
  /*c*/
  text-shadow: none;
  /* sommige browsers hebben default text shadow
  /*tsn*/
}

::selection {
  background: #E85E00;
  color: white;
  text-shadow: none;
}

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
  /*  M-W: elke image wordt nooit breder dan 100%*/
  max-width: 100%;
  /* v-a, zorgt ervoor dat de images altijd boven gealigneerd zijn als ze bv in ander element zitten*/
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements

*/

h1 {
  /*  We voegen hier alles op grid van 8px of meervoud */
  font-family: "Times New Roman", serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  margin: 0 0 48px;
}

h2 {
  font-style: 23px;
  line-height: 32px;
  margin: 0 0 24px
}

h3 {
  font-style: 18px;
  line-height: 24px;
  margin: 0 0 24px
}

h4, h5, h6 {
  /* selectors dezelfde stijl geven met comma */
  font-style: 16px;
  line-height: 24px;
  margin: 0 0 24px
}

p, ol, ul, dl, table, address, figure {
  margin: 0 0 24px/* standaard margin veelgebruikte elementen, ook fg even breed als tekst*/
}

ul, ol {
  padding-left: 24px
}

li ul, li ol {
  /*  alle <ul> en <ol> die in een <li> zitten mogen geen marginbottom
hebben. */
  margin-bottom: 0;
}

blockquote {
  font-style: italic;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
  font-family: "Times New Roman", serif;
}

blockquote * {
  /*alless wat in blockquote nemen font-size en lH overerven*/
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  /* Dit zorgt er voor dat dit element iets kleiner staat en genoeg ruimte heeft tussen de image
en de tekst. */
  font-style: 12px;
  line-height: 16px;
  padding-top: 8px;
  color: grey;
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 24px;
}

a {
  color: RoyalBlue;
  transition: all .1s ease-int out;
  /*trans zorgt ervoor dat elke link default kleine animatie krijgt */
}

a:visited, a:active {
  color: BlueViolet;
  /*
  :visited is voor links die je al bezocht hebt
:active is voor op het moment dat er op geklikt wordt.
*/
}

a:hover, a:focus {
  /* wat lager in docu zit, wint daarom 2 omgewisseld */
  color: crimson;
  /*
  :hover is voor als jer over hovered met de cursor
:focus is voor als er als de link focus krijgt. Bijvoorbeeld als je door het document tabt.
*/
}

/*
    Media Queries --> moeten altijd vanonder, zo winnen ze altijd
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.
*/

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  h1 {
    /* vanaf een breedte van 768px geef de h1 een grotere font-size en lineheight. */
    font-size: 58px;
    line-height: 64px;
  }
  html {
    padding: 48px 48px 24px
  }
  body {
    /* zorgt ervoor dat boddy maxim 42 em krijgt */
    max-width: 42em;
    margin: 0 auto;
  }
}

/* Large devices (landscape tablets, desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}